/* This CSS file is for demo site only, not part of the actual SDK */

#wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group{
  text-align: center;
  margin-top: 40px;
}

.button{
  border: 1px solid #eee;

  display: block;
  padding: 10px;
  background-color: #fff;
  margin: 0 auto 5px;
  outline: none !important;
  border-radius: 6px;
}

.des{
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}
